@model IEnumerable<EntityLayer.Concreate.Writer>
<div class="col-md-6 span_8">
    <div class="activity_box">
        <div class="scrollbar" id="style-2">
            <!--You-->
            <div class="activity-row">
                <div class="col-xs-1">
                    <i class="fa fa-user text-info icon_12"> </i>
                </div>
                <div class="col-xs-3 activity-img">
                    <img src='~/ProfilPictures/@ViewBag.img'
                         class="img-responsive img-circle" alt="" />
                </div>
                <div class="col-xs-8 activity-desc">
                    <h5>
                        Siz
                    </h5>
                    <p>
                        @ViewBag.about
                    </p>
                    <h6>@DateTime.Now.ToString("HH:mm")</h6>
                </div>
                <div class="clearfix"> </div>
            </div>

            @foreach (var item in Model)
            {
                <div class="activity-row">
                    <div class="col-xs-1">
                        <i class="fa fa-thumbs-up text-info icon_13"> </i>
                    </div>
                    <div class="col-xs-3 activity-img">
                        <img src='~/ProfilPictures/@item.WriterImage'
                         class="img-responsive img-circle" alt="" />
                    </div>
                    <div class="col-xs-8 activity-desc">
                        <h5>
                            @item.WriterName
                        </h5>
                        <p>@item.WriterAbout</p>
                        <h6>@DateTime.Now.ToString("HH:mm")</h6>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            }
        </div>
    </div>
</div>