@model EntityLayer.Concreate.Blog
@{
    ViewData["Title"] = "UpdateBlog";
    Layout = "~/Areas/Blog/Views/Shared/_ProfileLayout.cshtml";
}


@using (Html.BeginForm("UpdateBlog", "Profile", FormMethod.Post,
    new { @enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x=>x.BlogID)

    @Html.Label("Başlıq")
    @Html.TextBoxFor(x=>x.BlogTitle,new {@class="form-control" , autocomplete="off"})
    <br />

    @Html.Label("Kateqoriya")
    @Html.DropDownListFor(x=>x.CategoryID,(List<SelectListItem>)ViewBag.v,new {@class="form-control" })
    <br />

    @Html.Label("Yazılma Tarixi")
    @Html.TextBoxFor(x=>x.BlogCreateDate,new {@class="form-control" ,@readonly=true})
    <br />

    @Html.Label("Şəkil")
    <div class="blog_info_left_grid">
        <img src="/BlogImage/@ViewData["img"]"
         height=100 width=100 class="img-fluid" alt="">
    </div>
    <input class="form-control" type="file" name="BlogImage" 
        value="/BlogImage/@ViewData["img"]"/>
    <br />
    @Html.Label("Məzmun")
    @Html.TextAreaFor(x=>x.BlogContent,4,10,new {@class="form-control" , autocomplete="off"})

    <br />
    <button type="submit" class="btn btn-warning">Yadda saxla</button>
}

<script>
    @{
        var messaje = TempData["NotEmpty"];
    }
    var message = '@messaje';
    if (message) {
        swal("Opps", message,"info");
    }
</script>